[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "static/learn"]
	path = static/learn
	url = https://github.com/toddcooke/learn.git
