[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "static/learn/aws"]
	path = static/learn/aws
	url = https://github.com/toddcooke/learn.git
